/* MOBILE */
@media (max-width: 576px) {
    .cards-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .col-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .card {
        min-height: 420px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

    .img-fixed {
        height: 180px;
        object-fit: cover;
        width: 100%;
    }


/* TABLET */
@media (max-width:768px) {
    .img-fixed { height: 180px; }
    .cards-container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }
    .card {
        min-height: 420px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

/* LAPTOP */
@media (max-width:992px) {
    main.container { max-width: 95%; }
    .card {
        min-height: 420px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

/* DESKTOP */
@media (min-width:1200px) {
    .cards-container {
        grid-template-columns: repeat(3,1fr);
        gap: 30px;
    }
    .img-fixed {
        height: 180px;
        object-fit: cover;
        width: 100%;
    }
    .card {
        min-height: 420px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}