$colores: (
  bg: #f4f4f4,
  primario: #e8491d,
  primario-hover: #d8390d,
  texto: #333,
  header: #333,
  hover-menu: #ffd700,

  gradient-start: rgb(0,185,126),
  gradient-end: rgb(0,207,148),

  dulce-start: #e6c058,
  dulce-end: #ffb347,

  salado-start: #6fa3ef,
  salado-end: #4a77d4
);
