/* HEADER */
@use "sass:map";
@use '../utilities/maps' as maps;

.header-personalizado {
    &.bg-white {
        background: map.get(maps.$colores, header) ;
        color: #fff ;
        padding: 1em 0 ;
        box-shadow: none ;
    }
}


