/* HEADER */
@use "sass:map";
@use '../utilities/maps' as maps;

header {
    &.bg-white {
        background: map.get(maps.$colores, header) !important;
        color: #fff !important;
        padding: 1em 0 !important;
        box-shadow: none !important;
    }
}


