/* MAIN CONTENEDOR*/
main.container {
    max-width: 900px !important;
    background: #fff !important;
    border-radius: 8px !important;
    padding: 20px !important;
    margin: 20px auto !important;
}
