/* NAVBAR */
@use "sass:map";
@use '../utilities/maps' as maps;

.navbar {
    background: none !important;
    padding: 0 !important;

    .navbar-brand {
        color: #fff !important;
        font-weight: bold;
    }

    .navbar-toggler {
        border-color: rgba(255, 255, 255, 0.5);

        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
        }
    }

    .navbar-nav {
        .nav-link {
            color: #fff !important;
            text-decoration: none;
            font-weight: bold;
            padding: 0.5rem 1rem !important;

            &:hover {
                color: map.get(maps.$colores, hover-menu) !important;
            }
        }
    }
}