@use "sass:map";
@use '../utilities/maps' as maps;

.navbar-personalizada {
    background: #080000;;
    padding: 0;

    .navbar-brand {
        color: #fff;
        font-weight: bold;
    }

    .navbar-toggler {
        border-color: rgba(255, 255, 255, 0.5);

        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,...");
        }
    }

    .navbar-nav {
        .nav-link {
            color: #fff;
            text-decoration: none;
            font-weight: bold;
            padding: 0.5rem 1rem;

            &:hover {
                color: map.get(maps.$colores, hover-menu);
            }
        }
    }
}