@use "sass:map";
@use "../utilities/extend";
@use '../utilities/mixins';
@use '../utilities/maps' as maps;

.card-custom {
    @extend %sombra-suave;
}
.card {
    @include mixins.card-base;
    height: 420px;

    overflow: hidden; 
    transition: transform 0.5s ease, box-shadow 0.5s ease;

    /* Imagen con zoom */
    .card-img-top {
        height: 220px !important;
        object-fit: cover;
        width: 100%;
        transition: transform 0.5s ease;
    }

    &:hover .card-img-top {
        transform: scale(1.1);
    }

    /* Texto */
    .card-body {
        h5.card-title {
            font-size: 1.4em;
            color: #333;
        }

        p.card-text {
            font-size: 0.95em;
            color: #666;
        }
    }

    /* BADGES PERSONALIZADOS */
    .badge-custom {
        padding: 6px 14px;
        border-radius: 12px;
        font-weight: 600;
        color: #fff !important;
        display: inline-block;
        transition: all .3s ease;
        cursor: pointer;
        margin-top: 5px;
        font-size: 0.85em;
    }

    .badge-custom:hover {
        transform: translateY(-3px);
        box-shadow: 0 6px 12px rgba(0,0,0,.2);
        opacity: .9;
    }

    /* Badge DULCE */
    .badge-dulce {
        background-image: linear-gradient(
            to right,
            map.get(maps.$colores, dulce-start),
            map.get(maps.$colores, dulce-end)
        );
    }

    /* Badge SALADA */
    .badge-salada {
        background-image: linear-gradient(
            to right,
            map.get(maps.$colores, salado-start),
            map.get(maps.$colores, salado-end)
        );
    }
}
