@use "sass:map";
@use "../utilities/extend";
@use "../utilities/mixins";
@use "../utilities/maps" as maps;

.card.card-custom {
    @extend %sombra-suave;
}

/* Estilos de la card */
.card {
    @include mixins.card-base;
    height: 460px;
    overflow: hidden;
    transition: transform 0.5s ease, box-shadow 0.5s ease;

    /* Imagen con zoom */
    .card-img-top {
        height: 220px !important;
        object-fit: cover;
        width: 100%;
        transition: transform 0.5s ease;
    }

    &:hover .card-img-top {
        transform: scale(1.1);
    }

    /* Texto */
    .card-body {
        h5.card-title {
            font-size: 1.4em;
            color: #333;
        }

        p.card-text {
            font-size: 0.95em;
            color: #666;
        }
    }

}
