.navbar-toggler {
    border: 1px solid #fff !important;

    .navbar-toggler-icon {
        background-image: none !important;

        &::before {
            content: "\2630";
            font-size: 24px;
            color: white;
        }
    }
}
