/*TITULOS*/
@use "sass:map";
@use '../utilities/maps' as maps;

.titulo-principal {
    color: map.get(maps.$colores, primario);
    margin-bottom: 10px;
}

.titulo-secundario {
    color: map.get(maps.$colores, primario);
    margin-bottom: 10px;
}